* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* apply the styles to the header */
   header {
      padding:20px 35px;
      background-color: black;
      display: flex;
      justify-content: space-between; /* Distributes the elements in the header with even spacing between the header and nav */
      flex-wrap: wrap; /*lets the child elements break into the next line when they don't fit */
      width: 100%;
      height: 10%;
  }
  
  header h1 {
      font-weight: bold;
      font-size: 36px;
      color: white;
      margin:0;
      width: 30%;
  }

  header a {
      text-decoration: none; /*takes off the blue color and underline for the links*/
      color: white;
  }

  header nav {
      margin: 7px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; /*aligns items on the x-axis when flex-direction is set to row*/
      align-items: center; /*aligns items on the y or vertical axis (when flex-direction is row)*/
      list-style: none;
  }

  header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 1.55vw;
  }

.hero {
    background-image: url("../images/clara.jpg");
    background-size: cover; /*sets the size of the image so it won't get clipped */
    background-position: center; /*centers the background image*/
    display: flex;
    flex-wrap: wrap;
    padding: 30 0;
    height: 400px;
    justify-content: first baseline;
    width: 100%;
  }

.hero-content {
    background-color: ghostwhite;
    text-align: right;
    width: 15%;
  }
.content {
    background-color: gainsboro;
    color: black;
    font-family: Times;
    font-style: lighter;
}

.section-wrapper {
    display: flex;
    width: 100%;
}

.section-title {
    text-align: right;
    width: 15%;
}

.section-title h2 {
    size: 32px;
    border-right: solid darkslategrey;
    padding: 5px;
    height: 100px;
}

.section-content {
    text-align: left;
    width: 85%;
    padding: 5px;
}

.section-content p {
    size: 16px;
}
